body {
    overflow: hidden;
}

.bgPrimaryColor {
    background-color: #1e88e5;
}

.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginBG {
    position: absolute;
    left: 75vw;
    height: 100vh;
    filter: blur(32px) brightness(70%);
    background-color: transparent;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}