:root {
    --padding-horizontal: 5%;
}

.inputText {
    outline: none;
    border: none;
    height: 32px;
    width: calc(100% - (var(--padding-horizontal) * 2));
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 0 var(--padding-horizontal);
    font-size: large;
}

.inputText:focus::placeholder {
    color: white;
    opacity: 1;
}

.inputText:focus {
    background: rgba(255, 255, 255, 0.35);
}

.inputText:first-child {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.inputText:last-child {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

::placeholder {
    color: white;
    opacity: 0.8;
}